<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReactionApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>44D087931E547DAF00180DD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44D087AA1E547DAF00180DD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44D087B51E547DB000180DD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
